html, body {
    height: 100%;
}
#tablero {
    padding: 0;
    width: 400px !important;
    height: 400px !important;
}
.background {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../res/parchis.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
}
.ficha {
    width: 14px !important;
    height: 14px !important;
    border-radius: 50%;
    position: absolute !important;
    opacity: 1.0;
}

.rojo {
    background: #f00;
    border: solid 2px #c00;
}
.verde {
    background: #0f0;
    border: solid 2px #0c0;
}
.amarillo {
    background: #ff0;
    border: solid 2px #cc0;
}
.azul {
    background: #00f;
    border: solid 2px #00c;
}
.disabled, .dice.rolling {
    pointer-events: none;
    cursor: default;
}
.ficha {
    cursor: pointer;
    transform: scale(1.3);
    transform-origin: center !important;
    animation: scaleanim 0.5s alternate infinite ease-in-out;
}
@keyframes scaleanim {
    0%   {transform: scale(1.2); transform-origin: center !important;}
    100% {transform: scale(1.5); transform-origin: center !important;}
}
.ficha.disabled {
    opacity: 0.7;
    transform: scale(1);
    transform-origin: center !important;
    animation: ease-out !important;
}
.dice {
    cursor: pointer;
    position: absolute;
    /*margin-left: 25px;*/
}
.turno {
    opacity: 1 !important;
}
.dice-container {
    background: transparent !important;
    border: 0px !important;
}
.dice-container.r .face {
    background-color: #ffcdd2 !important;
}
.dice-container.a .face {
    background-color: #fff9c4 !important;
}
.dice-container.v .face {
    background-color: #c8e6c9 !important;
}
.dice-container.z .face {
    background-color: #bbdefb !important;
}
.dice.turno_r .face {
    background: #cb9ca1 !important;
}
.dice.turno_a .face {
    background: #cbc693 !important;
}
.dice.turno_v .face {
    background: #97b498 !important;
}
.dice.turno_z .face {
    background: #8aacc8 !important;
}

.v-center { 
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.color-blue { color: #bbdefb; } .color-blue-l { color: #eeffff; } .color-blue-d { color: #8aacc8; }
.color-green { color: #c8e6c9; } .color-green-l { color: #eeffee; } .color-green-d { color: #97b498; }
.color-orange { color: #ffe0b2; } .color-orange-l { color: #ffffee; } .color-orange-d { color: #cbae82; }
.color-red { color: #ffcdd2; } .color-red-l { color: #ffffff; } .color-red-d { color: #cb9ca1; }
.color-purple { color: #d1c4e9; } .color-purple-l { color: #ffeeff; } .color-purple-d { color: #a094b7; }
.color-yellow { color: #fff9c4; } .color-yellow-l { color: #ffffee; } .color-yellow-d { color: #cbc693; }        

.dice {
    animation: 1s ease-out;
}
.dice.turno { 
    transform-origin: center !important;
    animation: scaleanim 0.5s alternate infinite ease-in-out;
}
.dice.turno.rolling, .dice.turno.disabled {
    animation: none;
}

* .face-list {
    transition-duration: 2s !important;
}
.modal .close.disabled span {
    opacity: 0.1;
}
.modal .close span {
    opacity: 1;
    transition: 1s linear all;
}
.tablero-wrapper { 
    margin: 0 !important;
}